# Basic pandas

Pandas is a Python library. It is already installed in Anaconda, so that we do not need to install it again.
However, in order to use it, we must import it first.

In [3]:
import pandas as pd

Once having run the code above, we will be able to access the content in the Pandas library using the statement pd.

<div class="alert alert-info"><b> Exercise 1 </b>

Define a Series that stores the price of different ages ```[28, 34, 29, 42]```. Assign the content in this Series to a new variable called ```ages```.

</div>

In [4]:
ages = pd.Series([28, 34, 29, 42])
print(ages)

0    28
1    34
2    29
3    42
dtype: int64

<div class="alert alert-info"><b> Exercise 2 </b>

As before, define a Series called age that contains the data ```[28, 34, 29, 42]```. This time set the index parameter to the value ```index = ['Tom', 'Jack', 'Bob', 'Ann']```

</div>

In [31]:
ages = pd.Series([28, 34, 29, 42], index = ['Tom', 'Jack', 'Bob', 'Ann'])

ages

Tom     28
Jack    34
Bob     29
Ann     42
dtype: int64

<div class="alert alert-info"><b> Exercise 3 </b>

Define a dictionary as ```data = {'Tom' : 28, 'Jack' : 34, 'Bob' : 29, 'Ann': 42}```. Then, Create a Series using the data dictionary. Print the Series. What values are assigned to the index?

</div>

In [33]:
data = {'Tom' : 28, 'Jack' : 34, 'Bob' : 29, 'Ann': 42}
ages = pd.Series(data)
ages

Tom     28
Jack    34
Bob     29
Ann     42
dtype: int64

<div class="alert alert-info"><b> Exercise 4 </b>

Define a DataFrame that contains the same data as the previous exercise, ```{'Tom' : 28, 'Jack' : 34, 'Bob' : 29, 'Ann': 42}```, but this time in a nested list form. If we donâ€™t provide any names for the columns parameter, what values does Python assign to the columns?. Now define the same DataFrame but this time set the columns value to ```columns = ['Name', 'Age']```. Finally, change the default index to ```['rank1', 'rank2', 'rank3', 'rank4']```.

</div>

In [36]:
data = [['Tom' , 28], ['Jack', 34], ['Bob', 29], ['Ann', 42]]
df = pd.DataFrame(data)
df

      0   1
0   Tom  28
1  Jack  34
2   Bob  29
3   Ann  42

In [37]:
data = [['Tom' , 28], ['Jack', 34], ['Bob', 29], ['Ann', 42]]
df = pd.DataFrame(data, columns = ['Name', 'Age'], index = ['rank1', 'rank2', 'rank3', 'rank4'])
df

       Name  Age
rank1   Tom   28
rank2  Jack   34
rank3   Bob   29
rank4   Ann   42

<div class="alert alert-info"><b> Exercise 5 </b>

Take the DataFrame defined above and add a new column named 'Vegetarian' with the values ```[False, True, True, True]```. Then, create a new column called ```Age (in days)``` that stores the age of each person in days, assuming a year has exactly 365 days.

</div>

In [41]:
df['Vegetarian'] = [False, True, True, True]
df['Age (in days)'] = df['Age'] * 365
df

       Name  Age  Vegetarian  Age (in days)
rank1   Tom   28       False          10220
rank2  Jack   34        True          12410
rank3   Bob   29        True          10585
rank4   Ann   42        True          15330

<div class="alert alert-info"><b> Exercise 6 </b>

Take the DataFrame defined above and select only the column ```'Name'```. Now select the first and third rows. Modify the DataFrame to remove the second row. Now remove the ```Vegetarian``` column.

</div>

In [ ]:
<FILL IN>

<div class="alert alert-info"><b> Exercise 7 </b>

Define two lists, ```age = [24, 55, 17, 73, 54]``` and ```income = [23000, 60000, 18000, 55000, 38000]```. Define a DataFrame df such that ```data = {'age': age, 'income': income}``` and assign indexes such that ```index = ['John', 'Liza', 'Jane', 'Tom', 'Mark']```. Try to understand what the command ```df.describe()``` does.
</div>

In [ ]:
<FILL IN>

<div class="alert alert-info"><b> Exercise 8 </b>

Take the DataFrame defined above and find the minimum and maximum values for the ```'age'``` column. Also compute the mean for the ```'income'``` column.
</div>

In [ ]:
<FILL IN>

<div class="alert alert-info"><b> Exercise 9 </b>

Filter your DataFrame to select only those entries with an income higher that 25000. Now try filtering your DataFrame to select only those entries such that name is equal to Liza.

</div>

In [ ]:
<FILL IN>

<div class="alert alert-info"><b> Exercise 10 </b>

Filter your DataFrame to select only those entries with an ```income``` higher that 25000 and an ```age``` below 60.

</div>

In [ ]:
<FILL IN>

<div class="alert alert-info"><b> Exercise 11 </b>

Add a new column ```'gender'``` that contains the gender of each individual in our DataFrame. Use the ```df.groupby()``` function to group all entries by the new ```'gender'``` column and and compute the aggregated maximum for the remaining columns. Now try to compute the average ```'income'``` by ```'gender'```.

</div>

In [ ]:
<FILL IN>